.resetpw {
	padding-top: 100px;
}
.resetpw-form {
	padding-top: 50px;
	::-webkit-input-placeholder {
	   color: $light-gray !important;
	}
	
	:-moz-placeholder { /* Firefox 18- */
	   color: $light-gray !important;  
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
	   color: $light-gray !important;  
	}
	
	:-ms-input-placeholder {  
	   color: $light-gray !important;  
	}
}
.forgot-pw {
	text-decoration: underline;
}