
<!-- <div class="container">
	<section>
		<header>
			<h1>New Mybubble based on Rails and Flux </h1>
		</header>
		<div id="people_list" ></div>
	</section>
</div> -->

<div id="react-wrapper">
	
</div>
